\#init.el\#
auto-save-list/
.cache/
.dap-breakpoints
eclipse.jdt.ls/
eln-cache/
elpa/
tldr/
transient/
url/
request/
sessions
snippets/
straight/
transient/
tree-sitter/
workspace/
.lsp-session-v1
tramp
bookmarks
history
init.el.back
places
projects
recentf
sessions
